@model List<Aluno>

<h2>Lista de Alunos</h2>

<div>
    <a class="btn btn-primary" asp-action="Create">Adicionar Aluno</a>
</div>
<br/>
<ul>
    @foreach(var aluno in Model)
    {
        <li>@Html.ActionLink(aluno.Nome, "Details", new {id = aluno.Id})</li>
    }
</ul>